<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuthTest">

        <activity-alias
            android:name=".IconGreenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_app_icon_green"
            android:label="@string/app_name"
            android:targetActivity=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".IconYellowAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_app_icon_yellow"
            android:label="@string/app_name"
            android:targetActivity=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".IconBlueAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_app_icon_blue"
            android:label="@string/app_name"
            android:targetActivity=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".IconRedAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_app_icon_red"
            android:label="@string/app_name"
            android:targetActivity=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".IconWhiteAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_app_icon_white"
            android:label="@string/app_name"
            android:targetActivity=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".TeacherHome"
            android:exported="false" />
        <activity
            android:name=".CreateClass"
            android:exported="false" />
        <activity
            android:name=".ClassInformation"
            android:exported="false" />
        <activity
            android:name=".AddStudentsForm"
            android:exported="false" />
        <activity
            android:name=".StudentHome"
            android:exported="false" />
        <activity
            android:name=".ArchiveActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".SessionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".SeatPlan"
            android:exported="false" />
        <activity
            android:name=".AttendanceStreak"
            android:exported="false" />
        <activity
            android:name=".Faqs"
            android:exported="false" />
        <activity
            android:name=".ShareFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".TermsOfServices"
            android:exported="false" />
    </application>

</manifest>
